In [3]:
import pandas as pd 
from sklearn.decomposition import PCA

In [6]:
df = pd.read_csv('close_prices.csv', index_col='date')
df.head()

,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,HD,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
date,,,,,,,,,,,,,,,,,,,,,
2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,75.910004,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,76.040001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,75.519997,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,76.070000,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,75.959999,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [7]:
"""
PCA fitting
"""
pca = PCA(n_components=10)
pca.fit(df)

PCA(n_components=10)

In [12]:
"""
PCA search
"""
total = 0
boarder = 0.9
counter = 0
for ratio in pca.explained_variance_ratio_:
    if total >= boarder:
        break
    counter += 1
    total += ratio

with open('w4s1.txt', 'w') as fhand:
    fhand.write(str(counter))

In [36]:
"""
Pca using
"""
import numpy as np
df_pca = pca.transform(df)
first_component = pd.DataFrame(df_pca[:, 0])

df_dj = pd.read_csv('index.csv', index_col='date')
coef = np.corrcoef(first_component.T, df_dj.T)[1, 0]

with open('w4s2.txt', 'w') as fhand:
    fhand.write(str(np.round(coef, decimals=2)))

In [45]:
company_id = list(pca.components_[0]).index(max(pca.components_[0]))
company_name = df.iloc[:, 26].name

with open('w4s3.txt', 'w') as fhand:
    fhand.write(company_name)